*,
*:before,
*:after {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

canvas {
  border: 1px solid rgb(207, 204, 25);
  background: rgb(99, 88, 88);
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* left: 0px; */
  /* top: 0px; */
}

#canvas-wrap {
  width: 100%;
  height: 100%;
}

.container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: royalblue;
  max-width: 100%;
}

/* Cards */

#card-templates {
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  background-color: #fff;
  border: 3px nonoe #111;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
  border-radius: 0.2rem;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.card {
  position: absolute;
  height: 20rem;
  width: 20rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;  
  font-weight: bold;
  background-color: rgb(78, 65, 65);
  border: 3px none #111;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

.cardSelected {
  border: 3px solid rgb(146, 222, 224);
}

.card p {
  color: black;
}

.resizer {
  position: absolute;
  left: 95%;
  top: 95%;
  opacity: 0;
  transition: opacity 0.5s;
}

.card:hover .resizer {
  opacity: 1;
}

.resizer:hover {
  cursor: nwse-resize;
}
/* Text Editor */

.toolbar {
  position: absolute;
  left: 50%;
}

.tool-list {
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	padding: 0;
	margin: 1rem;
	overflow: hidden;
	border-radius: 10px;
}

.tool--btn {
	display: block;
	border: none;
	padding: .5rem;
	font-size: 20px;
}

.texteditor {
	height: 400px; 
  width: 300px;
	/* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
	margin: 1rem;
	padding: 1rem;
}

/* Drag Drop */

.draggable-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem;
}

.draggable {
  position: sticky;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 0rem 0rem;
  cursor: grab;
  transition: opacity 0.2s;
  border-radius: 0.2rem;
}

.draggable:hover {
  opacity: 0.8;
  background-color: rgb(194, 194, 231);
}

.droppable {
  height: 6.5rem;
  width: 6.5rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  background-color: #fff;
  border: 3px dashed #111;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}
.droppable span {
  font-size: 1.25rem;
  pointer-events: none;
}

.droppable.droppable-hover {
  border-width: 5px;
  transform: scale(1.1);
}

.droppable.dropped {
  border-style: solid;
  color: #fff;
}

.droppable.dropped span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.droppable.dropped i {
  pointer-events: none;
}

.draggable.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}

.draggable.dragged:hover {
  opacity: 0.1;
}

/* Tooltips */

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-size: 15px;
  background-color: rgb(44, 39, 39);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 28%;
  left: 120%;
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 35%;
  left: -4%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(44, 39, 39)  transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}