name: Build my Application

on: push

jobs:
  build:
    name: Greeting
    runs-on: ubuntu-latest
    steps: 
    - name: Pull Code
      uses: actions/checkout@v2
    - name: Print Current Directory
      run: pwd
    - name: Check Dotnet Cli
      run: dotnet build
    - name: List files in Directory
      run: ls ProjectManager.Api/ -R
    - name: Check npm
      run: npm -v